* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: #eee;
    padding: 5rem;
}

header, main, aside, footer {
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.4rem;
    color: #000;
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.3);
}

header, footer {
    flex: 0 0 100%;
}

main {
    flex: 8 1 40rem;
}

aside {
    flex: 2 1 20rem;
}